@font-face {
    font-family: "Droid Serif";
    src: url(../fonts/DroidSerif.ttf) format('truetype'), 
    url(../fonts/DroidSerif-Bold.ttf) format('truetype'), 
    url(../fonts/DroidSerif-BoldItalic.ttf) format('truetype'), 
    url(../fonts/DroidSerif-Italic.ttf) format('truetype');
}
@font-face {
    font-family: "Kaushan Script";
    src: url(../fonts/KaushanScript-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/RobotoSlab-Thin.ttf) format('truetype'), 
    	 url(../fonts/RobotoSlab-Light.ttf) format('truetype'), 
    	 url(../fonts/RobotoSlab-Regular.ttf) format('truetype'), 
    	 url(../fonts/RobotoSlab-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}



/*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.script-font() {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.body-font() {
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading-font() {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/